<html>
<head>
    <title>Welcome ${web} </title>
    <link rel="StyleSheet" href="webjars/bootstrap/3.4.1/css/bootstrap.css"
          type="text/css">
</head>
<body class="container">
<h1>Welcome ${user}!</h1>
<p>Boys:
    <a href="${info.url}">${info.name}</a>!
<table class="table table-hover">
    <th>
    <td>id编号</td>
    <td>名称</td>

    <td>账户类型:
        <#if list?? && list?size gt 0>
        <select id="${role}" name="${role}">
            <option value="">---请选择---</option>
            <#list list as data>
            <#if data.id?exists&& data.name?exists>
                <option value='${data.id}'>${data.name}</option>
            </#if>
            </#list>
            </#if>
    </td>





    <td>
        银行账号 <input id="accno" type="text" value="" readonly>
    </td>
    <td>
        描述  银行账号 <input id="accno2" type="text" value="" readonly>

    </td>
    </th>


    <#-- 如果为空的话， #else 表示为空的意义-->

</table>
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.4.1/js/bootstrap.js"></script>

<script type="text/javascript">
    //下拉框改变时触发的事件
    $("#role").change(function(){
        let seled = $("option:selected").html();
        //$("#accno").attr('value','');
        let content=$("option:selected").val();
        if(typeof content === "undefined" || content === null || content.trim() === "") {
            alert('没选账号类型');
            console.log("content ",content);
            $("#accno").attr('value','');
            return;
        }
        console.log("seled text:",seled);

        let id= $("option:selected").val();

        console.log("seled value:",id);
        let params = {};
        params.id = $("option:selected").val();


        $.get("/user/getId/",params, function(data){
            console.log("result :",data);
           // $("#accno").append(data);
            //$("#accno").html().val(data)

            $("#accno").attr('value',data);
        });

        $.get("/user/getId2/",params, function(data){
            console.log("result :",data);
            // $("#accno").append(data);
            //$("#accno").html().val(data)

            $("#accno2").attr('value',data);
        });





    });
</script>

</body>
</html>
