<html>
<head>
    <title>Welcome ${web} </title>
    <link rel="StyleSheet" href="webjars/bootstrap/3.4.1/css/bootstrap.css" type="text/css">
</head>
<body class="container">
<h1>Welcome ${user}!</h1>
<p>Boys:
    <a href="${info.url}">${info.name}</a>!
<table class="table table-hover">
    <th>
    <td>id编号</td>
    <td>
        <#import "select.ftl" as items/>
        <@items.select id="role" datas=typeList/>
    </td>




    <td>
        <input id="accno">
    </td>
    </th>


    <#-- 如果为空的话， #else 表示为空的意义-->

</table>
<script type="text/javascript" src="webjars/jquery/3.6.1/jquery.js"></script>
<script type="text/javascript" src="webjars/bootstrap/5.2.3/js/bootstrap.js"></script>
<script type="text/javascript" >
// 请求生成后立即分配处理程序，请记住该请求针对 jqxhr 对象
let jqxhr = $.post("/user/getId/", function(data) {
alert("success");
})
.success(function() { alert("second success"); })
.error(function() { alert("error"); })
.complete(function() { alert("complete"); });

// 在这里执行其他任务

// 为上面的请求设置另一个完成函数
jqxhr.complete(function(){ alert("second complete"); });
</script>
</body>
</html>
